<div class="mt-3"> 
    <form method="post" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Fullname</label>
            <input type="text" name="fullname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
            <small id="emailHelp" class="form-text text-muted">Your Full Name.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Age</label>
            <input type="text" name="age" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Age">
            <small id="emailHelp" class="form-text text-muted">Your Age.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Search</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search">
            <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Search</label>
            <select name="gender" class="form-control" id="search-input">
                <option value="">Choose Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>